html {
  scroll-behavior: smooth;
}

body {
    background: #2b293c;
    color: #bdbdbd;
}

.container {
    padding: 2.5rem 0rem;
}

hr {
    background-color: #bdbdbd;
}

h3, h5 {
    color: #fff;
}

/* Custom Navbar Syles */
.navbar-brand h3 {
    color: goldenrod;
}

.navbar-text {
  font-size: 1.5rem;
  padding: 5px;
}

/* Carousel Styling */
.carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */ 
    width: 100%;
    max-height: 800px;
    margin: auto;
}

/* General Info Block */
.general p {
    width: 60%;
    margin: 1rem auto;
}

.general h3 {
    color: goldenrod;
}

/* Member List */
.card-group {
  display: flex;
  justify-content: center;
}

.person {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */ 
    max-height: 150px;
}

.person:hover {
    opacity: 0.8;
}

.members {
  font-size: 1.25rem!important;
  display: flex;
  justify-content: space-evenly;
  color: white;
}

small a {
  color: white;
}

/* Shows Section */
.shows {
    margin: 10px;
}

.shows p {
    font-style: italic;
}

.shows ul {
    color: black;
    width: 90%;
    margin: 0 auto;
}

/* Cards */
.albumcard {
    max-width: 300px;
    margin: 0 auto;
}

/* Sizing */

/* Small devices (landscape phones, 576px and up) */
  @media (max-width: 576px) {
    .carousel {
      display: none;
    }
  }

/* Medium devices (tablets, 768px and up) */
  @media (max-width: 768px) {
    .member-card {
      min-width: 40%;
      display: flex;
      flex-wrap: wrap;
    }
  }

  /* Large devices (desktops, 992px and up) */
  @media (max-width: 992px) {
  }

/* Extra large devices (large desktops, 1200px and up) */
  @media (max-width: 1200px) {
  }
